# Project 1
Dataset: https://www.kaggle.com/datasets/thedevastator/analyzing-customer-spending-habits-to-improve-sa 
It is about customer spending habits, found in kaggle.

In [2]:
# # Install dependencies as needed:
# # pip install kagglehub[pandas-datasets]
# import kagglehub
# from kagglehub import KaggleDatasetAdapter

import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score, accuracy_score, mean_squared_error, root_mean_squared_error

In [4]:
# # Set the path to the file you'd like to load
# file_path = "SalesForCourse_quizz_table.csv"

# # Load the latest version
# df = kagglehub.load_dataset(
#   KaggleDatasetAdapter.PANDAS,
#   "thedevastator/analyzing-customer-spending-habits-to-improve-sa",
#   file_path,
#   # Provide any additional arguments like 
#   # sql_query or pandas_kwargs. See the 
#   # documenation for more information:
#   # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
# )

# # print("First 5 records:", df.head())

In [3]:
#using the cleaned_data file "cleaned_data.csv"
cleaned_df = pd.read_csv("cleaned_data.csv")
df_logis = pd.read_csv("cluster_labels.csv")

df_logis['Customer Age'] = cleaned_df['Customer Age']
df_logis['Age Group'] = cleaned_df['Age Group']

df_logis.head()

,index,Date,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Revenue,Cluster,Customer Age,Age Group
0,0,02/19/16,F,United States,Washington,Accessories,Tires and Tubes,1.0,109.0,4,29,25-34
1,1,02/20/16,F,United States,Washington,Clothing,Gloves,2.0,57.0,7,29,25-34
2,2,02/27/16,F,United States,Washington,Accessories,Tires and Tubes,3.0,15.0,7,29,25-34
3,3,03/12/16,F,United States,Washington,Accessories,Tires and Tubes,2.0,233.0,7,29,25-34
4,4,03/12/16,F,United States,Washington,Accessories,Tires and Tubes,3.0,125.0,7,29,25-34

# A. Logistic Regression

- creating logistic regression with the values seen here
- deciding from these values the correlation with each other and checking the impact some variables have with the other.

In [4]:
df_end = pd.get_dummies(df_logis, columns=['Country', 'Product Category','Cluster','Age Group','State'], drop_first=True)
print(df_end.columns)
df_end.head()

Index(['index', 'Date', 'Customer Gender', 'Sub Category', 'Quantity',
       'Revenue', 'Customer Age', 'Country_Germany', 'Country_United Kingdom',
       'Country_United States', 'Product Category_Bikes',
       'Product Category_Clothing', 'Cluster_1', 'Cluster_2', 'Cluster_3',
       'Cluster_4', 'Cluster_5', 'Cluster_6', 'Cluster_7', 'Cluster_8',
       'Age Group_25-34', 'Age Group_35-44', 'Age Group_45-54',
       'Age Group_55-64', 'Age Group_65+', 'Age Group_<18', 'State_Arizona',
       'State_Bayern', 'State_Brandenburg', 'State_California',
       'State_Charente-Maritime', 'State_England', 'State_Essonne',
       'State_Florida', 'State_Garonne (Haute)', 'State_Georgia',
       'State_Hamburg', 'State_Hauts de Seine', 'State_Hessen',
       'State_Illinois', 'State_Kentucky', 'State_Loir et Cher',
       'State_Loiret', 'State_Massachusetts', 'State_Minnesota',
       'State_Mississippi', 'State_Missouri', 'State_Montana', 'State_Moselle',
       'State_New York', 'State_Nord', 'State_Nordrhein-Westfalen',
       'State_North Carolina', 'State_Ohio', 'State_Oregon',
       'State_Pas de Calais', 'State_Saarland', 'State_Seine (Paris)',
       'State_Seine Saint Denis', 'State_Seine et Marne', 'State_Somme',
       'State_South Carolina', 'State_Texas', 'State_Utah', 'State_Val d'Oise',
       'State_Val de Marne', 'State_Virginia', 'State_Washington',
       'State_Wyoming', 'State_Yveline'],
      dtype='object')

,index,Date,Customer Gender,Sub Category,Quantity,Revenue,Customer Age,Country_Germany,Country_United Kingdom,Country_United States,...,State_Somme,State_South Carolina,State_Texas,State_Utah,State_Val d'Oise,State_Val de Marne,State_Virginia,State_Washington,State_Wyoming,State_Yveline
0,0,02/19/16,F,Tires and Tubes,1.0,109.0,29,False,False,True,...,False,False,False,False,False,False,False,True,False,False
1,1,02/20/16,F,Gloves,2.0,57.0,29,False,False,True,...,False,False,False,False,False,False,False,True,False,False
2,2,02/27/16,F,Tires and Tubes,3.0,15.0,29,False,False,True,...,False,False,False,False,False,False,False,True,False,False
3,3,03/12/16,F,Tires and Tubes,2.0,233.0,29,False,False,True,...,False,False,False,False,False,False,False,True,False,False
4,4,03/12/16,F,Tires and Tubes,3.0,125.0,29,False,False,True,...,False,False,False,False,False,False,False,True,False,False

In [ ]:
# Step 1: Define the target variable and features
X = df_end[['Revenue']]  
y = df_end['Revenue']  # Replace 'Target_Variable' with your actual target column

# Step 2: Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Step 3: Train the logistic regression model
log_model = LogisticRegression(max_iter=100)
log_model.fit(X_train, y_train)

# Step 4: Make predictions
y_pred = log_model.predict(X_test)

# Step 5: Evaluate the model
print(log_model.summary())
print("R-squared:", r2_score(y_test, y_pred))

In [8]:
df_encoded = pd.get_dummies(df_logis, columns=['Country', 'Product Category','Cluster','Age Group','State'], drop_first=False)

X = df_encoded[['Cluster_1','Cluster_2', 'Cluster_3', 'Cluster_4',
				]]
y = df_encoded['Revenue']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = LogisticRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.0024376254660166334

Creating a confusion matrix to see what is happening within