# Random Forest Classifier

will be a different form of classification.

In [2]:
# imports
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [6]:
df = pd.read_csv('cleaned_data.csv')
clustered_data = pd.read_csv('cluster_labels.csv')
df.head()

,Year,Customer Age,Customer Gender,Product Category,Quantity,Unit Price,Profit Margin,Age Group,Quarter
0,2016,29,F,Accessories,1,109.000000,0.266055,25-34,Q1
1,2016,29,F,Clothing,2,28.500000,0.140351,25-34,Q1
2,2016,29,F,Accessories,3,5.000000,0.266667,25-34,Q1
3,2016,29,F,Accessories,2,116.500000,0.248927,25-34,Q1
4,2016,29,F,Accessories,3,41.666667,0.160000,25-34,Q1

In [5]:
clustered_data.head()

,index,Date,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Revenue,Cluster
0,0,02/19/16,F,United States,Washington,Accessories,Tires and Tubes,1.0,109.0,4
1,1,02/20/16,F,United States,Washington,Clothing,Gloves,2.0,57.0,7
2,2,02/27/16,F,United States,Washington,Accessories,Tires and Tubes,3.0,15.0,7
3,3,03/12/16,F,United States,Washington,Accessories,Tires and Tubes,2.0,233.0,7
4,4,03/12/16,F,United States,Washington,Accessories,Tires and Tubes,3.0,125.0,7

In [15]:
# train-test split
X = df[['Customer Age']]
y = clustered_data['Cluster']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)
# Random Forest Classifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
# Model evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.31204588910133846
              precision    recall  f1-score   support

           0       0.27      0.25      0.26      1506
           1       0.20      0.00      0.00      1032
           2       0.00      0.00      0.00       661
           3       0.33      0.95      0.48      1391
           4       0.00      0.00      0.00      1252
           5       0.29      0.02      0.05      1097
           6       0.00      0.00      0.00      1131
           7       0.31      0.79      0.45      1951
           8       0.00      0.00      0.00       439

    accuracy                           0.31     10460
   macro avg       0.15      0.22      0.14     10460
weighted avg       0.19      0.31      0.19     10460

/Users/ggrojas27/Documents/GitHub/INDENG142_Sp25/.venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/ggrojas27/Documents/GitHub/INDENG142_Sp25/.venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/ggrojas27/Documents/GitHub/INDENG142_Sp25/.venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))